.center1  img
{
   width:500px;
}

.center1 p
{
	width:400px;
	margin-left:340px;
	padding: 5px;
}
.center1
{
	background-color:teal;
   min-width: 900px;
	width:1050px;
	
	padding: 5px;
    margin-left: 0px;
}


.center1-1  img
{
   width:500px;
}

.center1-1 p
{
	width:400px;
	margin-left:340px;
	padding: 5px;
}
.center1-1
{
	background-image: url(/IMG_2177.JPG);
   min-width: 900px;
	width:1040px;
	background-size: cover;
background-size: contain;
	height: 600px;
	padding: 5px;
    margin-left: 0px;
}

.center2 img
{
   width:500px;
}



.center2 p
{
     width:400px;
	margin-left:340px;
	padding: 5px;;
}

.center2
{
	background-color:teal;
   min-width: 900px;
	width:1050px;
	
	padding: 5px;
    margin-left: 0px;
}


.center3  img
{
   width:500px;
}


.center3 p
{
	width:400px;
	
	margin-left:340px;
	padding: 5px;
}

.center3
{
	background-color:teal;
   min-width: 900px;
	width:1050px;
	
	padding: 5px;
    margin-left: 0px;
}


.center4  img
{
   width:500px;
}


.center4 p
{
	width:400px;
	margin-left:340px;
	padding: 5px;
}

.center4
{
	background-color:teal;
   min-width: 900px;
	width:1050px;
	
	padding: 5px;
    margin-left: 0px;
}

#ipt2
{
background-color: teal;   /*  lightsteelblue */
	min-width: 900px;
	width:1055px;
	margin-left: 90px;
	padding: 5px;
	
	text-align:center;
  
}



body
{
	background-color:lightsteelblue;
}


footer
{
	padding: 5px;
	background-color: #424558;
	width: 1300px;
}

footer nav 
{
	
	width: 100%;
	background-color: white;
}


footer p
{
	text-align: center;
	color: white;
}

a:hover
{
	color:yellow;
}

